

services:

  postgres:
    image: postgres:15
    container_name: social-db
    environment:
      POSTGRES_DB: socialdb
      POSTGRES_USER: social
      POSTGRES_PASSWORD: social
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: social-backend
    ports:
      - "8081:8081"
    depends_on:
      - postgres
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/socialdb
      SPRING_DATASOURCE_USERNAME: social
      SPRING_DATASOURCE_PASSWORD: social
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
    restart: unless-stopped

  frontend:
    build: ./social-ui
    container_name: social-ui
    ports:
      - "5173:5173"
    depends_on:
      - backend

  pgadmin:
    image: dpage/pgadmin4
    container_name: social-pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - postgres

volumes:
  pgdata:
