{{- if .Values.grafana.enabled -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-grafana
  labels:
    app: grafana
spec:
  replicas: 1
  selector:
    matchLabels:
      app: grafana
  template:
    metadata:
      labels:
        app: grafana
    spec:
      containers:
        - name: grafana
          image: "{{ .Values.grafana.image.repository }}:{{ .Values.grafana.image.tag }}"
          ports:
            - containerPort: 3000
          env:
            - name: GF_SECURITY_ADMIN_USER
              value: {{ .Values.grafana.auth.username | quote }}
            - name: GF_SECURITY_ADMIN_PASSWORD
              value: {{ .Values.grafana.auth.password | quote }}
          volumeMounts:
            - name: datasources-volume
              mountPath: /etc/grafana/provisioning/datasources
            - name: dashboard-provider-volume
              mountPath: /etc/grafana/provisioning/dashboards
            - name: dashboard-json-volume
              mountPath: /var/lib/grafana/dashboards
      volumes:
        - name: datasources-volume
          configMap:
            name: {{ .Release.Name }}-grafana-datasources
        - name: dashboard-provider-volume
          configMap:
            name: {{ .Release.Name }}-grafana-dashboards-provider
        - name: dashboard-json-volume
          configMap:
            name: {{ .Release.Name }}-grafana-springboot-dashboard
{{- end }}
