{{- if .Values.prometheus.enabled -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-prometheus-config
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s

    scrape_configs:
      - job_name: 'social-backend'
        metrics_path: '/actuator/prometheus'
        static_configs:
          - targets: ['{{ .Release.Name }}-backend:8081']
{{- end }}
