apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-secrets
type: Opaque
stringData:
  postgres-password: {{ .Values.postgres.auth.password | quote }}
  jwt-secret: {{ .Values.backend.env.jwtSecret | quote }}
