server:
  port: 8081
  error:
    include-message: always

spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: ${SPRING_JPA_HIBERNATE_DDL_AUTO:update}
    show-sql: true
    properties:
      hibernate:
        "[format_sql]": true
    open-in-view: false
logging:
  level:
    "[org.springframework.security]": DEBUG
jwt:
  secret: 12345678901234567890123456789012
  expiration: 86400000
