server:
  port: ${PORT:8081}
  error:
    include-message: always

spring:
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/socialdb}
    username: ${DB_USER:social}
    password: ${DB_PASS:social}

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        "[format_sql]": true
    open-in-view: false

logging:
  level:
    root: INFO
    "[org.springframework.security]": WARN
    "[org.hibernate.SQL]": OFF

management:
  endpoints:
    web:
      exposure:
        include: health, info, metrics
  endpoint:
    health:
      probes:
        enabled: true

jwt:
  secret: ${JWT_SECRET:12345678901234567890123456789012}
  expiration: ${JWT_EXPIRATION:86400000}
