server:
  port: ${PORT:8081}
  error:
    include-message: always
    include-binding-errors: always

spring:
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/socialdb}
    username: ${DB_USER:postgres}
    password: ${DB_PASS:postgres}

  data:
    mongodb:
      uri: ${MONGO_URI:mongodb://localhost:27017/social_mongo}
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
  
  elasticsearch:
    uris: ${ELASTICSEARCH_URIS:http://127.0.0.1:9200}
    username: ${ELASTICSEARCH_USERNAME:}
    password: ${ELASTICSEARCH_PASSWORD:}


  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
  flyway:
    locations: classpath:db/migration
    enabled: true
    baseline-on-migrate: true
    clean-disabled: false

  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB

  mail:
    host: smtp.gmail.com
    port: 587
    username: aws.gotya@gmail.com
    password: "wuyf rxzc xtbt vxzp"
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

logging:
  level:
    root: INFO
    "[org.springframework.security]": WARN
    "[org.hibernate.SQL]": OFF
    "[org.springdoc]": DEBUG
    "[org.springframework.web]": DEBUG

management:
  endpoints:
    web:
      exposure:
        include: health, info, metrics, prometheus, mappings
  endpoint:
    health:
      probes:
        enabled: true

app:
  upload-dir: uploads

jwt:
  secret: ${JWT_SECRET:12345678901234567890123456789012}
  expiration: ${JWT_EXPIRATION:86400000}

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    try-it-out-enabled: true
    operations-sorter: alpha
    tags-sorter: alpha
    display-request-duration: true
